<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'owners')}"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic</title>
</head>
<body>
    <h2 th:text="'List of owner'"></h2>
    <table  id="owners" class="table table-striped"> 
        <thead>
            <tr>
              
                <th style="width: 40%;">First Name</th>
                <th style="width: 40%">Last Name</th>
                <th style="width: 20%">Pets</th>
              </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                
                <td th:text="${owner?.firstName}"/> 
                <td th:text="${owner?.lastName}"/>
                <td><span th:text="${#strings.listJoin(owner?.getAllPetsName(), ', ')}"/></td>
            </tr>
        </tbody>
        
    </table>
</body>
</html>