<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Index Page</title>
</head>
<body>
    <h2 th:text="'List of vets'"></h2>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th style="width: 50%;">First Name</th>
                <th style="width: 50%">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
             
                <td th:text="${vet?.firstName}"/> 
                <td th:text="${vet?.lastName}"/>
            </tr>
        </tbody>
        
    </table>
</body>
</html>