<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Index Page</title>
</head>
<body>
    <h1 th:text="'List of vets'"></h1>
    <table>
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <th th:text="${vet?.id}">
                    id
                </th>
                <th th:text="${vet?.firstName}">
                    FirstName
                </th>
                <th th:text="${vet?.lastName}">
                    LastName
                </th>
            </tr>
        </tbody>
        
    </table>
</body>
</html>